*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: linear-gradient(to top right, #CC64A2, #5C3075);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }

  body > h1{
    color: whitesmoke;
    margin-top: 20px;
  }

  @media (max-width: 768px){
    .container {  
       grid-template-columns: repeat(1, 1fr);
       grid-row-gap : 25px;
    }
  }
  @media (min-width: 769px){
    .container {  
    grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1000px){
    .container {  
    grid-template-columns: repeat(3, 1fr);
    }
  }
  .container {
    width: 90%;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 25px;
    margin-top: 30px;
  }

  .card > h5{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    background-color: black !important;
    color: white !important;
    padding: 10px;
}

  .card:hover {
    box-shadow: 10px 10px 42px -10px rgba(0,0,0,0.75);
    cursor: pointer;
  }
  .pagination {
    margin-top: 25px;
  }
  input::placeholder {
    color: #FFF !important;
  }
  .d-none {
    display: none;
  }
