*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
    background-image: linear-gradient(to top right, #CC64A2, #5C3075);
}

.head{
    text-align: center;
    margin-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:ghostwhite;
}

.card-body{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(24rem,1fr));
    gap: 1rem;

}

.card-header{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.card-content{
    text-align: left;
    background-color:gold;
    border:  1px solid black;
    padding-left: 10px;
    font-size: 25px;
}

.card-content > h5 {
    font-weight: bold;
    padding: 10px;
}

.card-content > h5 >span {
    font-weight:400;
}

/* .listPage{
    padding: 10px;
    text-align: center;
    list-style: none;
}

.listPage > li{
    background-color: whitesmoke;
    padding: 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.listPage .active{
    background-color: #B192EF;
    color: white
} */

.pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page, .next-page{
    background-color:orangered;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover{
    transform: translateX(-5px);
}

.next-page:hover{
    transform: translateX(5px);
}

.current-page, .dots{
    background-color:green;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active{
    background-color:orangered;
}

.disable{
    background-color:green;
}